/node_modules

git init
git remote add origin <repoURL>

git add .
git commit -m "First commit"
git branch -M develop // crear rama
git push origin develop
ssh-keygen -t rsa -b 4096 -C "manuel.hdz.rubio07@gmail.com"